<nb-card accent="primary">
    <nb-card-header class="card-title">
        <h1 class="card-title">
            Categories
        </h1>
    </nb-card-header>
    <nb-card-body>
        <div class="container">
            <div class="row">
                <div class="col-md-6" *ngFor="let category of categories">
                    <nb-card status="primary" class="categories" size="tiny"
                        [routerLink]="'/user-dashboard/categories/quizzes/' + category.categoryId + '/' + category.title">
                        <nb-card-header class="category-title">
                            {{category.title}}
                        </nb-card-header>
                        <nb-card-body>
                            {{category.description}}
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>