form{
    margin: 1.3rem 1rem auto 1rem;
}

form input{
    margin-bottom: 1.5rem;
    margin-top: 0.3rem;
}
form input:hover{
    border: 3px solid rgb(139, 70, 185);
}
label{
    font-family: 'Roboto Mono', monospace;
    padding: 0.3rem;
}