form{
    margin: 1rem 0.5rem auto 0.5rem;
}

form input{
    margin-bottom: 1.5rem;
    margin-top: 0.3rem;
}
form input:hover{
    border: 2px solid rgb(185, 46, 46);
}
nb-card{
    margin: 7.5rem 20rem 2rem 20rem;
  height: 47rem;
}