form{
    margin: 1rem 0.5rem auto 0.5rem;
    overflow: auto;
}

form input{
    margin-bottom: 1.5rem;
    margin-top: 0.3rem;
}
form input:hover{
    border: 3px solid rgb(139, 70, 185);
}
nb-card{
    margin-top: 8rem;
    height: 47rem;
}