<nb-card accent="danger" size="large">
    <nb-card-header>
        <h4 class="card-title">
          Update Quiz
        </h4>
    </nb-card-header>
      <nb-card-body>
                <form  (ngSubmit)="formSubmit()" style="margin-top: -1.5rem;">
                  <label for="title" class="addTitle">Title</label>
                  <nb-form-field>
                    <input placeholder="Enter the title here" required nbInput shape="semi-round" fullWidth type="text" name="title"
                      [(ngModel)]="quizFromApi.title">
                  </nb-form-field>
                  <label class="addTitle" for="Description">Description</label>
                  <nb-form-field>
                    <textarea nbInput rows="5" shape="semi-round" fullWidth
                    placeholder="Enter the description here" name="description"
                      [(ngModel)]="quizFromApi.description"></textarea>
                  </nb-form-field>
                  <div class="row">
                    <div class="col-md-6">
                      <label for="numberOfQuestions" class="addTitle">Number of Questions</label>
                      <nb-form-field>
                        <input placeholder="Enter the total number of questions here" required nbInput shape="semi-round" fullWidth type="text" name="numberOfQuestions"
                          [(ngModel)]="quizFromApi.numberOfQuestions">
                      </nb-form-field>
                      <nb-select class="mt-3" placeholder="Select the category" [(ngModel)]="quizFromApi.category.categoryId" name="category">
                        <nb-option *ngFor="let category of categories" [value]="category.categoryId">{{category.title}}</nb-option>
                        </nb-select>
                      <nb-toggle class="m-4" labelPosition="left" [(ngModel)]="quizFromApi.active" name="active" status="danger"><label class="toggle-label">Publish Status?</label></nb-toggle>
                    </div>
                    <div class="col-md-6">
                      <label for="maximumMarks" class="addTitle">Maximum Marks</label>
                      <nb-form-field>
                        <input placeholder="Enter the maximum marks here" required nbInput shape="semi-round" fullWidth type="text" name="maximumMarks"
                          [(ngModel)]="quizFromApi.maxMarks">
                      </nb-form-field>
                    </div>
                  </div>
                  <button type="submit" class="m-2" nbButton outline size="small" status="success"> Update
                  </button>
                </form>
      </nb-card-body>
      <nb-card-footer>
      </nb-card-footer>
    </nb-card>
