.hamburger{
    display: block;
    width: 25px;
    height: 4px;
    margin-bottom: 4px;
    margin-top: 4px;
    background: #cdcdcd;
    border-radius: 3px;
}
.container{
    display: flex;
}
.flex{
    display: flex;
    gap: 78rem;
}

@media screen and (max-width: 450px){
    .flex{
        display: flex;
        gap: 8rem;
    }
}

// @media screen and (min-width: 1440px){
//     .flex{
//         display: flex;
//         gap: 72rem;
//     }
// }

// @media screen and (min-width: 2560px){
//     .flex{
//         display: flex;
//         gap: 140rem;
//     }
// }