<nb-card>
  <nb-card-header class="container">
    <div class="col-sm-12 justify-content-sm-start">
      <h1>
        <strong><span style="color: #ff3d71">{{quizTitle}}</span></strong>
      </h1>
      <div class="col-sm-3 d-flex justify-content-between my-2">
        <div>
          <button [routerLink]="'/admin/add-question/' + quizId + '/' + quizTitle" nbButton outline size="small"
            status="success">Add Question
            <nb-icon icon="plus-outline"></nb-icon>
          </button>
        </div>
        <div>
          <button [routerLink]="'/admin/upload-csv/' + quizId + '/' + quizTitle" nbButton outline size="small"
            status="success">
            Upload a CSV File
          </button>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="container-fluid">
      <div *ngFor="let question of questions; let i = index ">
        <div class="d-flex align-items-center">
          <h4>
            <strong>Question. {{i + 1}} </strong>{{question.content}}
          </h4>
          <button class="btn btn-danger btn-sm mx-3 mb-2">Level : <span
              class="bagde">{{question.difficultyLevel}}</span></button>
        </div>
        <div class="row">
          <div class="col-md-6">
            <table>
              <tbody>
                <tr>
                  <td>
                    <strong>A) </strong>
                  </td>
                  <td class="p-2">
                    {{question.option1}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <table>
              <tbody>
                <tr>
                  <td>
                    <strong>
                      B)
                    </strong>
                  </td>
                  <td class="p-2">
                    {{question.option2}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <table>
              <tbody>
                <tr>
                  <td>
                    <strong>C) </strong>
                  </td>
                  <td class="p-2">
                    {{question.option3}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <!-- <p>
              <strong>
                D)
              </strong>
              {{question.option4}}
            </p> -->
            <table>
              <tbody>
                <tr>
                  <td>
                    <strong>
                      D)
                    </strong>
                  </td>
                  <td class="p-2">
                    {{question.option4}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="mb-3">
          <p><span style="color:#478e8a;"><strong>Answer:</strong></span> {{question.answer}}</p>
          <button nbButton status="primary" size="small"
            [routerLink]="'/admin/update-question/' + quizId + '/' + quizTitle + '/' + question.questionId">
            Update
          </button>
          <button size="medium" (click)="deleteQuestion(question.questionId)" style="margin-left: 1rem" nbButton ghost
            status="danger">
            <nb-icon icon="trash-outline"></nb-icon>
          </button>
          <hr>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>