.card-title {
    font-size:2.5rem;
}

nb-list-item {
    font-size: 1.5rem;
}

.title {
    font-weight:bold;
    font-size: 1.5rem;
}

.sub-title {
    font-weight: 400;
    font-size: 1rem;
}

.buttons {
    font-size: 1.2rem;
}
.truncate {
    width: 450px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.5;
  }