<nb-card>
  <nb-card-header  class="card-title">
      {{categoryTitle}}
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-6" *ngFor="let quiz of quizzes; let i = index">
        <nb-card status="control">
          <nb-card-header class="title">
              {{quiz.title}}
          </nb-card-header>
          <nb-card-body>
              <div class="col">
                <div class="col-md-8">
                  <div class="sub-title mx-1 truncate">
                    {{quiz.description}}
                  </div>
                </div>
                <div class="col-md-12 mt-2 buttons">
                  <div class="row">
                    <div class="col-md-2">
                      <button [routerLink]="'/user-dashboard/pre-start/' + quiz.quizId" nbButton size="small" status="primary">
                        View
                      </button>
                    </div>
                    <div class="col-md-2">
                      <button nbButton size="small" status="danger">
                        Start
                      </button>
                    </div>
                    <div class="col-md-3">
                      <button nbButton size="small" status="danger" ghost>
                        Questions : {{quiz.numberOfQuestions}}
                      </button>
                    </div>
                    <div class="col-md-3">
                      <button nbButton size="small" status="danger" ghost>
                        Marks: {{quiz.maxMarks}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-card-body>
</nb-card>