form{
  margin: 0.8rem 0.9rem auto 0.5rem;
  overflow: auto;
}

form input{
  margin-bottom: 1rem;
  margin-top: 0.3rem;
}
label{
  font-family: 'Montserrat', sans-serif;
  padding: 0.3rem;
}
nb-card{
  margin: 7.5rem 20rem 2rem 20rem;
}
.fPw{
  margin-left: 0.5rem;
  text-decoration: none;
}
.signup{
  font-family: 'Montserrat', sans-serif;
}

.wrapper{
  position: relative;
  overflow: hidden;
}
.validation{
  position: absolute;
  top: 62.5%;
  right: 0.8rem;
  transform: translate(5rem, -50%);
  opacity: 0;
  transition: all 1s;
  color: #fd4444;
  font-family: var(--labelFont);
}
.wrapper input:valid{border-color: #55d668;}
.wrapper input:invalid{
  border: #fd4444;
}
.wrapper input:invalid ~ .validation{
  opacity: 1;
  transform: translate(0, -50%);
}

.wrapperPw{
  position: relative;
  overflow: hidden;
}
.validationPw{
  position: absolute;
  top: 62.8%;
  right: 0.8rem;
  transform: translate(5rem, -50%);
  opacity: 0;
  transition: all 1s;
  color: #fd4444;
  font-family: var(--labelFont);
}
.wrapperPw input:valid{border-color: #55d668;}
.wrapperPw input:invalid{
  border: #fd4444;
}
.wrapperPw input:invalid ~ .validationPw{
  opacity: 1;
  transform: translate(0, -50%);
}
.required{
  font-size: 12px;
}