<nb-layout>

  <nb-layout-header fixed>
    <div class="header-container hidden-print">
      <div class="logo-container">
          <nb-icon class="toggle m-3" (click) = toggleCompact() *ngIf="isCompact" icon="menu-outline"></nb-icon>
          <nb-icon class="toggle m-3" (click) = toggleCompact() *ngIf="!isCompact" icon="menu-arrow-outline"></nb-icon>
        <!-- <a class="logo" [routerLink]="['']">Pariksan Portal</a> -->
      </div>
    </div>

    <div class="header-container another-header">
      <nb-actions size="medium">
        <nb-action *ngIf="!isLoggedIn" class="control-item" [routerLink]="['/login']">Login</nb-action>   
        <nb-action *ngIf="!isLoggedIn" class="control-item" [routerLink]="['/signup']">Register</nb-action>
        <nb-action *ngIf="isLoggedIn && user" class="control-item" style="color: rgb(101, 223, 194);font-size: 1rem">
          <nb-icon icon="person-outline" style="font-size: 1.4rem;" class="m-1"></nb-icon>{{user.username}}</nb-action>
        <nb-action (click) = logout() *ngIf="isLoggedIn" class="control-item logout-item" [routerLink]="['/admin/users']">Logout</nb-action>
      </nb-actions>
    </div>
  </nb-layout-header>
  <nb-sidebar state="compacted">
    <div class="main-container">
      <app-sidebar></app-sidebar>
    </div>
  </nb-sidebar>

  <nb-layout-column>

    <router-outlet></router-outlet>

  </nb-layout-column>
<!-- 
  <nb-layout-footer>
    <app-footer></app-footer>
  </nb-layout-footer> -->

</nb-layout>