<nb-flip-card [flipped]="flipped" [showToggleButton]="false">
    <nb-card-front>
      <nb-card size="large" accent="danger">
        <nb-card-header>
              <h4 class="card-title">
                Quizzes
              </h4>
        </nb-card-header>
            <nb-list>
                <nb-list-item *ngFor="let quiz of quizzes">
                    <div class="container">
                      <div class="d-flex justify-content-start align-items-center">
                        <img class="m-2 " src="../../../../assets/quiz.png" alt="Image for quizzes">
                        <div>
                          <h4 class="list-title pt-2">
                            {{quiz.title}} <br>
                            <span class="subheader">{{quiz.category.title}}</span>
                          </h4>
                        </div>
                      </div>
                      <div class="container m-2">
                          <button nbButton ghost size="small" status="danger">
                            Maxium Marks: {{quiz.maxMarks}}
                          </button>
                          <button nbButton ghost size="small" status="danger">
                            Questions: {{quiz.numberOfQuestions}}
                          </button>
                          <button nbButton ghost size="small" status="danger">
                            Attemps: {{quiz.numberOfQuestions}}
                          </button>
                      </div>
                        <div class="container">
                          <button nbButton class="m-1" size="small" status="primary">
                              Questions
                          </button>
                          <button nbButton class="m-3" size="small" status="primary">
                              Update
                          </button>
                          <button class="m-1" nbButton size="small" outline>
                              <nb-icon icon="trash" status="danger"></nb-icon>
                          </button>
                        </div>
                    </div>
                </nb-list-item>
            </nb-list>
        <nb-card-footer>
          <button nbButton size="small" outline status="success" (click)="toggleFlip()">
              add
          </button>
        </nb-card-footer>
      </nb-card>
    </nb-card-front>
    <nb-card-back>
      <nb-card accent="danger">
        <nb-card-header class="card-title">
            Add Quizzes
        </nb-card-header>
        <nb-card-body>
          Back
        </nb-card-body>
        <nb-card-footer>
          <button nbButton size="small" status="danger" (click)="toggleFlip()">
              Back
          </button>
        </nb-card-footer>
      </nb-card>
    </nb-card-back>
  </nb-flip-card>