<nb-flip-card>
    <nb-card-front>
      <nb-card accent="danger">
        <nb-card-body>
            <div class="card-title pb-3 pt-2">
                Quizzes
            </div>
            <nb-list>
                <nb-list-item *ngFor="let quiz of quizzes">
                    <img class="m-2 " src="../../../../assets/quiz.png" alt="">
                    <div class="list-title">
                            <a>
                                {{quiz.title}}
                            </a>
                        <button nbButton class="m-3" size="small" status="success" outline>
                            Update
                        </button>
                        <button nbButton size="small" outline class="delete-btn">
                            Delete
                        </button>
                    </div>
                </nb-list-item>
            </nb-list>
        </nb-card-body>
      </nb-card>
    </nb-card-front>
    <nb-card-back>
      <nb-card accent="danger">
        <nb-card-header class="card-title">
            Add Quizzes
        </nb-card-header>
        <nb-card-body>
          Back
        </nb-card-body>
      </nb-card>
    </nb-card-back>
  </nb-flip-card>