<div>
  <nb-list *ngIf="isCategoryIdZero">
    <nb-list-item *ngFor="let item of quizzes">
      {{item.title}}
    </nb-list-item>
  </nb-list>
  <nb-list *ngIf="!isCategoryIdZero">
    <nb-list-item *ngFor="let item of quizOfCategory">
      {{item.title}}
    </nb-list-item>
  </nb-list>
</div>
<div *ngIf = "quizOfCategory?.length == 0" style="margin-top: -1rem">
    <hr>
    <h6>
        No quizzes are available for the selected category at the moment.
    </h6>
</div>
<div class="m-3">
  <button [routerLink]="'/user-dashboard/0'" nbButton status="danger" outline size="small">
    <nb-icon icon="arrow-back"></nb-icon>
  </button>
</div>