$title: "Montserrat", sans-serif;
$sub-title: "Roboto Mono", monospace;
$main-color: rgb(89, 89, 209);
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Passion+One:wght@900&family=Paytone+One&family=Raleway:wght@600&display=swap");

@mixin h1-style {
  font-size: 2.5rem !important;
  font-weight: bold;
}
@mixin title {
  color: rgb(89, 89, 209) !important;
  font-family: "Paytone One", sans-serif !important;
  font-size: 4rem;
}

@mixin offer-div {
  padding: 1.2rem;
  border-radius: 24px;
  box-shadow: 0 0 5pt 0.5pt #d3d3d3;
  background-image: linear-gradient(315deg, #ffffff 0%, #e3eeff 74%);
  // width: 24rem;
  h2 {
    font-size: 1.2rem !important;
    font-weight: bold;
  }
  p {
    text-align: justify;
    color: $main-color !important;
  }
}

.whole {
  height: auto;
  width: 100%;
  // background: linear-gradient(132.22deg, #dae1f4 11.01%, #ffffff 66.16%);
  background: linear-gradient(132.22deg, #7991d1 11.01%, #e6f1fd 66.16%);
  scroll-behavior: smooth;
}

.nav-title {
  @include title;
}

.hero-section {
  .about {
    color: $main-color !important;
  }
}

input,
button {
  box-shadow: 0 0 5pt 0.5pt #d3d3d3;
  &[type="text"]:focus {
    box-shadow: 0 0 5pt 2pt #d3d3d3;
    outline-width: 0px;
  }
}

.offer {
  h1 {
    @include h1-style();
  }
  .offer-div {
    @include offer-div();
  }
}

.info-section {
  h1 {
    @include h1-style();
  }
  p {
    font-weight: bold;
    color: $main-color !important;
  }
}

.fans {
  margin-bottom: 10rem;
  @include offer-div();
  min-height: 16rem;
  max-height: 22rem;
  overflow: hidden;
  h2 {
    font-size: 10rem !important;
    margin-bottom: -5.5rem;
    margin-top: -1.5rem;
    font-family: "Passion One", cursive !important;
  }
  h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.footer {
  border-top: 4px solid rgb(89, 89, 209);
  .footer-nav h1 {
    font-size: 2rem !important;
    @include title();
  }
}

.quote-mark {
  color: $main-color;
}
