<div class="container">
    <h1 class="text-center heading" style="font-family: 'Montserrat', sans-serif;">
        Pariksan Portal
    </h1>
    <div class="row align-items-center justify-content-around">
        <div class="logo col-md-6">
            <img src="../../../assets/logo.svg" alt="logo for home">
        </div>
        <div class="col-md-6">
            <p class="p-4 about">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime tempora laborum tenetur, saepe atque, quibusdam explicabo, nostrum quidem adipisci obcaecati facere reprehenderit eaque alias consectetur libero ad eum labore nisi.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-evenly">
            <div class="col-md-2">
                <nb-card>
                    <nb-card-header class="card-title">
                        Surf
                    </nb-card-header>
                    <nb-card-body>
                        <nb-icon icon="browser-outline" status="success"></nb-icon>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-2">
                <nb-card>
                    <nb-card-header class="card-title">
                        Attempt
                    </nb-card-header>
                    <nb-card-body>
                        <nb-icon icon="bulb-outline" status="warning"></nb-icon>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-2">
                <nb-card>
                    <nb-card-header class="card-title">
                        Repeat
                    </nb-card-header>
                    <nb-card-body>
                        <nb-icon icon="loader-outline" status="info"></nb-icon>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>
</div>