<nb-card>
    <nb-card-header>
        Select Difficulty Level
    </nb-card-header>
    <nb-card-body>
        <nb-select [(ngModel)]="difficultyLevel">
            <nb-option value="1">1</nb-option>
            <nb-option value="2">2</nb-option>
            <nb-option value="3">3</nb-option>
        </nb-select>
    </nb-card-body>
    <nb-card-footer>
        <div class="row">
            <div class="col-md-6">
                <button nbButton status="success" size="small" (click)="submit(difficultyLevel)">Submit</button>
            </div>
            <div class="col-md-6">
                <button nbButton status="danger" size="small" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </nb-card-footer>
</nb-card>