<div class="container-fluid" *ngIf="showQuestionsComponent">
  <div class="row">
    <div class="col-md-2" *ngIf="!isSubmitted">
      <nb-card>
        <nb-card-header class="text-center">
          Instructions
        </nb-card-header>
        <nb-list class="instructions">
          <nb-list-item>
            Do not refresh the page otherwise you will get new questions in this quiz.
          </nb-list-item>
          <nb-list-item>
            Do not switch between different tabs.
          </nb-list-item>
          <nb-list-item>
            Do not minimize the window untill the quiz is completed or submitted.
          </nb-list-item>
        </nb-list>
      </nb-card>
    </div>
    <div class="col-md-8" [ngClass]="isSubmitted ? 'div-center' : ''">
      <ng-container *ngIf="!isSubmitted;">
        <div *ngFor="let item of questions;let i = index">
          <nb-card accent="success">
            <nb-card-header>
              Q.{{i + 1}} {{item.content}}
            </nb-card-header>
            <nb-card-body>
              <div class="row">
                <mat-radio-group [(ngModel)]="item.givenAnswer" class="row">
                  <mat-radio-button name="option1" [value]="item.option1">{{item.option1}}</mat-radio-button>
                  <mat-radio-button name="option2" [value]="item.option2">{{item.option2}}</mat-radio-button>
                  <mat-radio-button name="option3" [value]="item.option3">{{item.option3}}</mat-radio-button>
                  <mat-radio-button name="option4" [value]="item.option4">{{item.option4}}</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="row">
              </div>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="text-center">
          <button (click)="submit()" nbButton status="primary" size="medium" class="text-center mb-3">
            submit
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="isSubmitted">
        <nb-card accent="success">
          <nb-card-header class="text-center">
            <h2>
              {{questions.length > 1 ? 'Good job on completing the quiz.' : 'No questions available for this quiz at the
              moment!'}}
            </h2>
          </nb-card-header>
          <nb-card-body *ngIf="questions.length > 1; else display">
            <h4>
              The scores have been displayed below.
            </h4>
            <div class="scores mt-3">
              <h5>Total Marks Scored: <span style="color: rgb(241, 255, 250);">{{marksGot}}</span></h5>
              <h5>Correct Answers: <span style="color: rgb(112, 235, 188);">{{correctAnswers}}</span></h5>
              <h5>Attempted: <span style="color: rgb(151, 121, 207);">{{attempted}}</span></h5>
              <h5>Wrong Answers: <span style="color: rgb(190, 97, 97);">{{wrongAnswers}}</span></h5>
            </div>
          </nb-card-body>
          <ng-template #display></ng-template>
          <nb-card-footer class="text-center">
            <div class="row justify-content-center">
              <div class="col-md-2">
                <button [routerLink]="'/user-dashboard/0'" ghost nbButton status="danger" size="small">
                  Home
                </button>
              </div>
              <div class="col-md-2">
                <button (click)="printPage()" nbButton status="primary" size="small">
                  Print
                </button>
              </div>
            </div>
          </nb-card-footer>
        </nb-card>
      </ng-container>
    </div>
    <div class="col-md-2 text-center" *ngIf="!isSubmitted">
      <nb-card class="sticky-card" accent="danger">
        <nb-card-header>
          <div class="row">
            <div class="col-md-6">
              Timer
            </div>
            <div class="col-md-6">
              <button nbTooltip="The quiz will end when the timer reaches 00:00" nbTooltipPlacement="top"
                nbTooltipStatus="danger" nbButton size="small" status="danger" outline>
                <nb-icon icon="info"></nb-icon>
              </button>
            </div>
          </div>
        </nb-card-header>
        <nb-card-body class="mx-auto">
          <mat-spinner class="mb-2" mode="determinate" color="accent"
            [value]="(timer / (questions.length * 1 * 60)) * 100"></mat-spinner>
          {{getTime()}}
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>