* {
  font-family: var(--labelFont) !important;
  font-weight: bold;
}

nb-card-header {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}

button {
  font-family: var(--labelFont) !important;
}

h4,
h5 {
  font-weight: 500 !important;
}

h4 {
  font-size: 1.2rem !important;
}
h5 {
  font-size: 1rem !important;
}

h2 {
  font-weight: bold;
}

.sticky-card {
  position: sticky;
  top: 0;
}

.instructions {
  nb-list-item {
    font-size: 12px;
    font-family: var(--labelFont) !important;
    font-weight: lighter !important;
  }
}

.div-center {
  width: 60%;
  margin: auto;
}

.grade {
  position: absolute;
  left: 4.8rem;
  top: 3.95rem;
  h4 {
    font-weight: bold !important;
    font-size: 1rem !important;
    color: rgb(57, 154, 57);
  }
}
