<nb-card accent= primary>
  <nb-card-header>
    <h1 class="card-title">Update User</h1>
  </nb-card-header>
  <nb-card-body>
    <div class="row align-items-center">
      <div class="col-md-6">
        <nb-form-field>
          <label>First Name</label>
          <input type="text" nbInput [(ngModel)]="userDetails.firstName" fullWidth shape="semi-round">
        </nb-form-field>
        <nb-form-field class="mt-3">
          <label>Username</label>
          <input type="text" nbInput [(ngModel)]="userDetails.username" fullWidth shape="semi-round">
        </nb-form-field>
        <nb-form-field class="mt-3">
          <label>Phone Number</label>
          <input type="text" nbInput [(ngModel)]="userDetails.phone" fullWidth shape="semi-round">
        </nb-form-field>
      </div>
      <div class="col-md-6">
        <nb-form-field>
          <label>Last Name</label>
          <input type="text" nbInput [(ngModel)]="userDetails.lastName" fullWidth shape="semi-round">
        </nb-form-field>
        <nb-form-field class="mt-3">
          <label>E-mail</label>
          <input type="text" nbInput [(ngModel)]="userDetails.email" fullWidth shape="semi-round">
        </nb-form-field>
        <nb-form-field class="mt-3">
          <label>Occupation</label>
          <input type="text" nbInput [(ngModel)]="userDetails.occupation" fullWidth shape="semi-round">
        </nb-form-field>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer class="mt-3">
    <button (click)="submit()" nbButton status="primary" size="small">Update</button>
  </nb-card-footer>
</nb-card>
