
    <ngx-spinner bdColor = "rgba(7,7,7,0.8)" size = "medium" color = "#4da4e2" type = "square-jelly-box" [fullScreen] = "true"><p>Loading...</p></ngx-spinner>
    <!-- <ngx-spinner bdColor = "rgba(7,7,7,0.8)" size = "medium" color = "#4da4e2" type = "ball-climbing-dot" [fullScreen] = "true"><p>Loading...</p></ngx-spinner> -->
    <!-- <ngx-spinner bdColor = "rgba(7,7,7,0.8)" size = "medium" color = "#4da4e2" type = "ball-newton-cradle" [fullScreen] = "true"><p>Loading...</p></ngx-spinner>
    <ngx-spinner bdColor="rgba(7,7,7,0.8)" size="medium" color="#4da4e2" type="line-scale" [fullScreen]="true">
      <p>Loading...</p>
    </ngx-spinner> -->