
@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */
:root{
  --mainFont: 'Roboto', sans-serif;
  --labelFont: 'Montserrat', sans-serif;
  --bodyFont: 'Roboto Mono', monospace;
}
*{
  font-family: var(--labelFont);
}
.textCenter{
  text-align: center;
}
label{
    font-family: var(--labelFont);
    padding: 0.3rem;
}
.pageHeader{
  font-family: var(--mainFont);
  margin: -2.5rem auto -7rem auto;
  font-size: 11rem;
  z-index: 0; /*The z-index property specifies the stack order of an element.*/
  opacity: .1;
}
@media screen and (max-width: 600px) {
  .pageHeader{
    font-size: 5rem;
    line-height: .9em;
    margin-bottom: -9rem;
    margin-top: -1rem;
  }
}
.registerBtn{
  margin-right: 0.8rem;
  margin-top: 0.2rem;
}
a{
  font-family: 'Montserrat', sans-serif;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

nb-tab p {
  font-family: var(--labelFont);
  letter-spacing: 0.5px;
}


.logo {
  padding: 0 1.25rem;
  font-size: 2.5rem;
  font-weight: bolder;
  letter-spacing: 1.5px;
  font-family: var(--labelFont);
  /*@include nb-ltr(border-left, 1px solid nb-theme(divider-color));
  @include nb-rtl(border-right, 1px solid nb-theme(divider-color));*/
  white-space: nowrap;
  text-decoration: none;
}

.card-title {
  font-family: var(--labelFont);
  font-weight: bold;
  letter-spacing: 1.5px;
  font-size: 2.5rem;
  margin-top: 0.2rem;
}

.list-title {
    font-family: var(--bodyFont);
    font-size: 1.2rem;
}
.subheader {
  font-family: var(--bodyFont);
  font-size: 0.9rem;
}
.addTitle {
    font-family: var(--bodyFont);
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

input, textarea, nb-toggle {
  font-family: var(--labelFont) !important;
  font-size: 12px !important;
}

::-webkit-input-placeholder {
  font-size: 11px !important;
  font-family: var(--labelFont) !important;
}
.toggle-label {
  letter-spacing: 1px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
