nb-icon {
    font-size: 1.5rem;
}

nb-card {
    text-align: justify;
  }
.description {
    font-family: var(--labelFont);
    margin-left: 2.34rem;
}

.delete {
    background: transparent;
    border: none;
    color: rgb(255, 142, 142);
}