nb-icon {
    font-size: 1.5rem;
}

nb-card {
    text-align: justify;
    margin-top: 9rem;
  }
.description {
    font-family: var(--labelFont);
    margin-left: 2.34rem;
}



.addTitle {
    font-family: var(--bodyFont);
    font-size: 1rem;
}

// ::-webkit-input-placeholder {
//     padding-top: 3.1rem;
// }

.delete {
    background: transparent;
    border: none;
    color: rgb(255, 142, 142);
}